*{
	margin:0px;
	padding:0px;
}

#h1{
	display:inline-block;
	font: 400 75px/1.0 'Rockwell';
	color: black;
	width:700px;
  }	
h2{
	line-height:2 em, bold 20px;
	font: bold 20px Rockwell;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align:center;
	
}
#big_wrapper{
	display:block;
	width:1000px;
	margin:20px auto;
	text-align:left;
}
#big_tuna{
	display:inline-block;
	left:1080px;
	width:90px;
	border:none;
	text-align:left;
	position:absolute;
}
#top_header{
	background:-webkit-linear-gradient(left,#4a858f,#48D1CC);
	
}
#top_menu{
	background:#008080;
	font:white;
	
	
}
#top_menu li{
	display:inline-block;
	list-style:none;
	padding:10px;
	font:bold 20px Rockwell, solid black;
	
}
#main_section{
	float:left;
	margin-top:30px;
	width:640px;
	height:360px;
	margin-left:0px;
	padding:5px;
	background:#4a858f;
	box-shadow:10px 10px 5px #888888
	
	
}
#big_fish{
	
	left:905px;
	width:200px;
	border:5px 48D1CC;
	text-align:left;
	position:absolute;
	background:#008080;
	padding:20px;
	margin:30px;
	box-shadow:10px 10px 5px #888888
}
#little_fish{
	text-align:left;
	position:absolute;
	background:#008080;
	top:600px;
	width:1000px;
	box-shadow:10px 10px 5px #888888
	

}

#the_footer{
	clear:both;
	text-align:center;
	font:bold 10px Tahoma,white ;
	margin-top:600px;
	
	
}
li:link{color:red;
text-decoration:none;}
li:hover{background-color:white;
color:black}
kayak.hookers@gmail.com
Sophie0422











